<div style="margin-top: -6vw;">
    <div class="room-grp">
        <div class="room-img">
            <img class="myroom" src="../../../assets/room-marble.jpg" alt="">
        </div>
        <div>
            <p class="room-heading"><b>Aesthetic Marble</b></p>
            <p class="room-info">
                There is always something to admire
                and we call it this room. This room will make
                you feel the overwhelming energy you have never experienced with.
            </p>
            <button class="book-button"><a style="color: white;" href="/book/1">BOOK NOW</a></button>
        </div>
    </div>
    <div class="room-grp">
        <div class="room-img">
            <img class="myroom" src="../../../assets/room-wooden.jpg" alt="">
        </div>
        <div>
            <p class="room-heading"><b>Wooden Beauty</b></p>
            <p class="room-info">
                Make fun with your friends and colleagues
                with one side open view of beach. This will definitely make
                your mind blow and make your body relax.
            </p>
            <button class="book-button"><a style="color: white;" href="/book/2">BOOK NOW</a></button>
        </div>
    </div>
    <div class="room-grp">
        <div class="room-img">
            <img class="myroom" src="../../../assets/room-family.jpg" alt="">
        </div>
        <div>
            <p class="room-heading"><b>Fun Family</b></p>
            <p class="room-info">
                Make everyday like living home in this room.
                This room is specially designed to make you not feeling
                home sicked. Be it your picnic or work.
            </p>
            <button class="book-button"><a style="color: white;" href="/book/3">BOOK NOW</a></button>
        </div>
    </div>
    
</div>

