<div id="intro">
    <div id="intro-head">
        Come, Stay with us
    </div>
    <div id="intro-text">
        Here, we provide you home feeling with luxirious
        experience and overwhelming drive.<br>
        Our motive is provide the best of the avilable facilities
        to our customers. We beleive in best.<br>
        We have different kinds of rooms which may vary
        personalization and costing including beverages
    </div>
    <div id="booknow-div">
        <Button id="booknow-button"><a href="/rooms">Book Now</a></Button>
    </div>
</div>